body {
    text-align: center;
    background-color: bisque;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gameBoard {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border: 2px solid black;
}

cell:hover {
    background-color: lightpink;
}

input {
    padding: 5px;
}


